@import "tailwindcss";

@theme inline {
  --color-lapis-lazuli: #2660a4ff;
  --color-azure-web: #edf7f6ff;
  --color-sandy-brown: #f19953ff;
  --color-copper: #c47335ff;
  --color-caf-noir: #56351eff;
  --font-title: var(--font-montserrat);
  --font-text: var(--font-roboto);
}
